.yemei {
    height: 40px;
    color: #b0b0b0;
    background: #333;
    font-size: 10px;
    float：left;
    margin-right: auto;
    margin-left: auto;
    line-height:40px;
  }
  
 
  a{
    text-decoration: none;
    color:white;
  }

  .yemeiright{
    position: absolute;
    right:200px;
    top:8px;
    

  }
  .logo{
    margin-top:5px;
    top:60px;
  }